body {
	background: #454545;
	line-height: 1.7

}
.sid-bar {
	float: left;
	width: 20%;
}
a,body {
	color:#eee;
}
a {
	text-decoration: none;
}
.main {

	color: #454545;
	float: right;	
	width: 80%;
}
.header .logo {
	line-height: 1;
	padding: 10px 20px;
	font-size: 30px;
	display: inline-block;
	border: 5px solid #eee;
	margin-bottom: 10px
}
.sid-bar > * {
	padding: 10px 15px
}
.sid-bar .nav a, .sid-bar .tag_list a {
	display: block;
	padding: 5px;
	color: #888;
	transition: color 200ms linear

}
.sid-bar .nav a:hover, .sid-bar .tag_list a:hover {

	color: #eee;
}
.sid-bar .nav a {
	font-weight: 700
}
.article_list{
	margin-right: 30%;
	padding: 20px 30px;
   background-color: #fff;
   box-shadow: 0 0 3px 2px rgba(0,0,0,.2);
}
.article_list .item .title{
	font-size: 22px;
	font-weight: 700;
	color: #454545;
}
.article_list .item .status{
	font-size: 13px;
	color: #ccc;

}
.article_list .item > *{
	margin: 10px 0;	
}
.article_list .item {
	margin-bottom:25px;	
}